<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.liorattun.swaiterbeta">

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.liorattun.swaiterbeta.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.liorattun.swaiterbeta.OrdersList"
            android:banner="@drawable/app_icon_your_company"
            android:icon="@drawable/app_icon_your_company"
            android:label="@string/title_activity_orders_list"
            android:logo="@drawable/app_icon_your_company"
            android:screenOrientation="landscape" />
        <activity android:name="com.example.liorattun.swaiterbeta.DetailsActivity" />
        <activity android:name="com.example.liorattun.swaiterbeta.PlaybackActivity" />
        <activity android:name="com.example.liorattun.swaiterbeta.BrowseErrorActivity" />
        <activity android:name="com.example.liorattun.swaiterbeta.NewDish" />
        <activity android:name="com.example.liorattun.swaiterbeta.Edit" />
        <activity android:name="com.example.liorattun.swaiterbeta.Menu" />
        <activity android:name="com.example.liorattun.swaiterbeta.Orders" />
    </application>

</manifest>